<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>
  <targets>
    <target xsi:type="File" name="file"
            fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate} | ${level:upperCase=true} | ${message} | ${exception:format=type,message,data,method:maxInnerExceptionLevel=5:innerFormat=type,message,data,method,StackTrace}"
            archiveFileName="${basedir}/Logs/Archive/{#}.log"
			      archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd-HH-mm"
            maxArchiveFiles="30"
			      archiveEvery="Day"/>

    <target xsi:type="Trace" name="trace"
            layout="${level:upperCase=true} | ${message} | ${exception:format=type,message,data,method:maxInnerExceptionLevel=5:innerFormat=type,message,data,method,StackTrace}" />

    <target type="ApplicationInsightsTarget" name="appInsight"
            layout="${level:upperCase=true} | ${message} | ${exception:format=type,message,data,method:maxInnerExceptionLevel=5:innerFormat=type,message,data,method,StackTrace}"/>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="trace,file,appInsight" />
  </rules>
</nlog>
