<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\MMA.WebApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
			<rewrite>
				<rules>
					<rule name="apple-app-site-association" patternSyntax="ExactMatch">
						<match url="apple-app-site-association" />
						<action type="Rewrite" url="/apple-app-site-association.txt" />
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>